.Aboutgainz {
    max-width: 1200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
    padding: 16px 64px;
    background-color: #F3F3F3;
}

.AboutText {
    max-width: 100%;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 16px 0;
}

p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .Aboutgainz {
        flex-direction: column;
        align-items: center;
        padding: 16px;
        width: 100%;
    }

    .AboutText {
        text-align: center;
    }
}