.AboutGainz {
    width: 1200px;
    height: 424px;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background-color: transparent;
}

.AboutGainzContent {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.AboutGainzTitle {
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.AboutGainzSubtitle {
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.AboutGainzDescription {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}

.AboutGainzImage {
    width: 512px;
    height: 400px;
    background-color: #DDDDDD;
    border-radius: 16px;
}