.about-me-container {
    max-width: 1200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
    padding: 16px 64px;
    background-color: #F3F3F3;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: left;
}

.about-me-title {
    font-size: 32px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

.about-me-subtitle {
    font-size: 24px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

.about-me-description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

@media (max-width: 768px) {
    .about-me-container {
        padding: 16px;
        width: 100%;
    }

    .about-me-image {
        max-height: 320px;
    }

    .about-me-content {
        align-items: center;
        text-align: center;
    }
}