.CTA {
    max-width: 1200px;
    width: 100%;
    color: #000000;
    padding: 16px 64px;
    background-color: #F3F3F3;
    text-align: left;
    margin: 64px auto;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 16px 0;
}

p {
    font-size: 1rem;
    margin: 16px 0;
}

.button {
    background-color: #FF9100;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 24px;
}

.button:hover {
    background-color: #ffffff;
    color: #FF9100;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .CTA {
        text-align: center;
        padding: 16px;
        width: 100%;
    }
}