.Footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 64px;
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
}

.Footer h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}

.FooterSection {
    flex: 1;
}

.ContactInfo p,
.QuickLinks ul,
.LegalInfo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ContactInfo p,
.QuickLinks li,
.LegalInfo li {
    margin: 0;
    padding: 8px 0;
    font-size: 1rem;
    color: #000000;
}

.QuickLinks a,
.LegalInfo a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.QuickLinks a:hover,
.LegalInfo a:hover {
    color: #ff9100;
}

.Footer a {
    text-decoration: none;
    transition: color 0.3s;
}

.Footer a:hover {
    color: #ff9100;
}

@media (max-width: 768px) {
    .Footer {
        padding: 16px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}