.Hero {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 128px;
    padding: 16px 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    background-color: #F3F3F3;
}

.HeroTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.HeroTitle {
    color: #000000;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.HeroSubtitle {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}

.ArrowIcon {
    margin-top: 128px;
}

@media (max-width: 768px) {
    .Hero {
        padding: 16px;
        gap: 16px;
        margin-top: 32px;
        align-items: center;
        text-align: center;
    }

    .HeroTextContainer {
        gap: 12px;
    }

    .HeroTitle {
        font-size: 2.5rem;
    }

    .HeroSubtitle {
        font-size: 1.2rem;
    }
}