.ContactUs {
    max-width: 1200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 128px;
    margin-bottom: 128px;
    padding: 16px 64px;
    background-color: #F3F3F3;
}

.Content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 16px;
}

.Title {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.Description {
    color: #000000;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
}

@media (max-width: 768px) {
    .ContactUs {
        padding: 16px;
    }

    .Title {
        font-size: 1.5rem;
    }

    .Description {
        font-size: 1rem;
    }
}