.indicator-hero-container {
    max-width: 1200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
    padding: 16px 64px;
    background-color: #F3F3F3;
}

.indicator-hero-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 16px;
}

.indicator-hero-title {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.indicator-hero-description {
    color: #000000;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
}

.indicator-hero-container {
    max-width: 1200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
    padding: 16px 64px;
    background-color: #F3F3F3;
}

.indicator-hero-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 16px;
}

.indicator-hero-title {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.indicator-hero-description {
    color: #000000;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
}

@media (max-width: 768px) {
    .indicator-hero-container {
        padding: 16px;
        align-items: center;
    }

    .indicator-hero-content {
        gap: 12px;
        align-items: center;
    }

    .indicator-hero-title {
        font-size: 1.8rem;
        text-align: center;
    }

    .indicator-hero-description {
        font-size: 1rem;
        text-align: center;
    }
}